.button {
  width: 100px;
  height: 50px;
  border: none;

  font-size: 14px;
  font-weight: 600;
  color: #ffffff;

  background-color: $firm-color;

  cursor: pointer;

  &:hover {
    border-radius: 15px;
    transition-duration: 0.5s;
  }

  &:active {
    transform: translateY(3px);
  }
}
