.contacts {


  a {
    position: relative;

    margin-right: 10px;
    padding-left: 26px;

    font-size: 12px;
    text-decoration: none;
    color: $text-color;

    &:hover {
      color: $firm-color;
    }

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;

      width: 20px;
      height: 14px;

      background-image: url("../img/Sprite.png");
      background-repeat: no-repeat;
    }
  }
  &__email::before {
      background-position: -87px -90px;
  }
  &__phone::before {
      background-position: -6px -128px;
  }
}
