.filter {
  width: 270px;

  &__group {
    margin: 0;
    margin-bottom: 30px;
    padding: 40px;
    padding-top: 24px;
    padding-bottom: 20px;
    border: none;

    line-height: 50px;
    font-weight: 600;

    background-color: #ffffff;

    &:hover {
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &__group-name {
    margin: 0;
    margin-bottom: 7px;

    font-size: 18px;
    font-weight: 900;
    color: $firm-color;
  }

  &__refresh {
    display: none;
    //no-js display: block;
    width: 100%;
    border: 1px solid #999;

    background-color: #ffffff;

    &:hover {
      border-color: $firm-color;

      box-shadow: 0 1px 10px #bbbbbb;

      cursor: pointer;
    }
  }
}
