.slider-controls {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

  width: 10px;
  height: 88px;


  border: none;

  &__button {
    width: 10px;
    height: 16px;
    padding: 0;
    border: none;

    font-size: 0;

    background-color: #ffffff;

    cursor: pointer;
  }

  &__current {
    width: 10px;
    height: 36px;

    background-color: $firm-color;
  }
}
