.order-button {
  width: 134px;
  padding: 15px;
  border: none;

  font-size: 18px;
  font-weight: 600;
  color: #ffffff;

  background-color: $firm-color;
  border-radius: 25px;

  cursor: pointer;
}
