.page-header {

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 1200px;
    min-height: 60px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__logo {
    align-self: flex-start;
    margin-top: 35px;
  }

  &__logo {
    align-self: flex-start;
    margin-top: 35px;
  }

  &__bottom {
    min-height: 121px;
    border-top: 1px solid #edeff1;
  }

  &__user-block {
    min-height: 121px;
  }
}
