.adv {
  min-height: 100px;
  border: 1px solid #eaedef;

  background-color: #ffffff;

  &--1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 670px;
  }

  &__image {
    position: relative;
    width: 80px;
    height: 80px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 52px;
      height: 61px;

      background-color: rgba(255, 89, 18, 0.6);

      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 52px;
      height: 61px;

      background-color: rgba(255, 89, 18, 0.6);

      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &--2 {
    width: 470px;

    text-align: center;
  }

  &__announcement span {
    color: $firm-color;
  }

  &__size {
    opacity: 0.4;

    font-size: 12px;
    white-space: pre;
  }
}
