.logo {
  position: relative;

  padding-bottom: 9px;

  font-size: 30px;
  font-family: "TitilliumText","Arial", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  color: $text-color;
  text-decoration: none;

  &:visited {
    color: $text-color;
  }

  &__image {
    position: relative;
    bottom: 5px;
    margin: 0 7px;
  }

  &__slogan {
    position: absolute;
    bottom: 0;
    left: 4px;

    font-family: "HarmoniaSansProCyr", "Arial", sans-serif;
    color: $content-text-color;
    font-size: 9px;
    font-weight: normal;
    letter-spacing: 3px;
  }
}
