.main-nav {
  flex-grow: 1;

  min-height: 121px;
  margin-left: 60px;

  &__list {
    padding: 0;
    margin: 0;
    margin-top: 50px;

    list-style: none;
  }

  &__item {
    display: inline-block;

    vertical-align: middle;
  }

  &__link {
    padding: 0 5px;
    margin: 0 15px;

    text-decoration: none;
    color: $text-color;
  }

  &__link:hover {
    color: $firm-color;
  }

  &__link--active {
    color: $firm-color;
  }

  &__link--active:hover {
    text-decoration: none;
  }
}
