.sizes-filter {


  &__size {
    display: none;
  }

  &__size:checked + .sizes-filter__option {
    color: $firm-color;
  }

  &__option {
    display: block;
    width: 140px;

    &:hover {
      color: $firm-color;

      cursor: pointer;
    }
  }
}
