.user-actions {
  margin: 0;
  margin-top: 33px;
  padding: 0;

  list-style: none;

  &__item {
    display: inline-block;
    vertical-align: middle;

    margin-top: 20px;
  }

  &__action {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 24px;

    vertical-align: middle;

    background-image: url("../img/Sprite.png");
    background-repeat: no-repeat;
  }

  &__action--search {
    background-position: -5px -85px;
  }

  &__action--sign-in {
    background-position: -47px -46px;
  }

  &__action--cart {
    background-position: -90px -44px;
  }
}
