.user-actions {
  list-style: none;

  &__item {
    display: inline-block;
    vertical-align: middle;
  }

  &__action {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 15px;

    vertical-align: middle;

    background-image: url("../img/Sprite.png");
    background-repeat: no-repeat;
  }

  &__action--search {
    background-position: -5px -85px;
  }

  &__action--sign-in {
    background-position: -47px -46px;
  }

  &__action--cart {
    background-position: -91px -44px;
  }
}
